#get-more-with-us {
    display: flex;
    justify-content: space-around;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p.paragraph{
    width: 400px;
}

#get-in-touch {
    border: 1px;
    background-color:#6b11e0;
    color: white;
    padding: 20px;
    margin: 0px;
}

#get-in-touch:hover {
    opacity: 1;
    border: 2px;
    background-color:white;
    color: black;
    padding: 20px;
    margin: 0px;
    border: 2.5px solid black;
  }

#numbers {
    display: flex;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    text-decoration: underline;
}

.num:hover{
    color:#6b11e0;
    text-decoration: underline;
}

#download {
    border: 2.5px solid black;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 0px;
    }

#download:hover {
    border: 2.5px solid rgb(144, 26, 190);
    background-color: white;
    color: rgb(144, 26, 190);
    padding: 20px;
    margin: 0px;
    }

#what-people-say-main {
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#what-people-say {
    display: flex;
    justify-content: center; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.quote {
    width: 370px;
    border: 2px solid rgb(240, 233, 233);
    padding: 30px;
    margin: 10px;
}

h5.regular-client {
    color:#756AAE;
}

div.image-wrapper
{
    display: inline-flex;
    flex-wrap: wrap;
}