#get-more-with-us {
    display: flex;
    justify-content: center;
}
p.paragraph{
    width: 400px;

}
#what-people-say-main {
    display: flex;
    justify-content: center; 
}

#what-people-say {
    display: flex;
    justify-content: center; 
}

div.quote {
    width: 300px;
    border: 5px solid gray;
    padding: 50px;
    margin: 20px;
}

div.image-wrapper
{
    display: flex;
    /* justify-content: center;  */
    flex-wrap: wrap;
}